@{
    ViewBag.Title = "SYSTEM I/O";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">The System.IO contains types that allow reading and writing to files and data streams, and types that provide basic file and directory support.</p>
    <p><a href="https://msdn.microsoft.com/en-us/library/system.io.aspx" class="btn btn-primary btn-lg">Læs mere &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hvad er System I/O?</h2>
        <p>
            The System.IO namespace has various classes that are used for performing numerous operations with files, such as creating and deleting files, reading from or writing to a file, closing a file etc.
            <a href="https://msdn.microsoft.com/en-us/library/system.io.aspx">Læs mere</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Fil håndtering</h2>
        <p>Upload, vis, og slet filer fra serveren ved hjælp af System.IO</p>
    </div>
    <div class="col-md-4">
        <h2>Fil manipulering</h2>
        <p>Opret filer, skriv eller læs fra filer.</p>
    </div>
</div>